@use "./../../../variables";

.product {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  margin-top: 50px;

  &_pick {
    grid-column: span 2;

    & img {
      width: 150px;
    }
  }

  &_showcase {
    grid-column: span 6;
  }

  &_detail {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__subdesc {
      margin-top: .5rem;
      font-weight: 400;
      font-size: 1.5rem;
      color: #1D1F22;
    }

    .label {
      font-family: variables.$ff-label;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
    }

    &__size {

      & > div {
        margin: .25rem 0;
        display: flex;
        gap: .5rem;

        .size {
          cursor: pointer;
          font-family: variables.$ff-secondary;
          padding: 5px 10px;
          border: solid 1px black;
        }
      }

      .selected {
        background-color: black;
        color: white;
      }
    }

    &__colour {

      & > div {
        margin: .25rem 0;
        display: flex;
        gap: .5rem;

        .colour {
          cursor: pointer;
          height: 30px;
          aspect-ratio: 1;
        }
      }

      .selected {
        border: solid variables.$primary-colour 2px;
      }
    }

    &__price {
       span {
        font-weight: 700;
       }
    }
  }
}


