<main>
  <nav class="nav">
    <div class="nav-wrapper container">
      <ul class="nav_links">
        <li> <a [routerLink]="['/']" routerLinkActive="router-link-active">Women</a></li>
        <li> <a href="#">Men</a></li>
        <li> <a href="#">Kids</a></li>
      </ul>

      <div class="home">
        <fa-icon [icon]="shop" ></fa-icon>
      </div>

      <div class="cart-currency">
        <select name="currency" id="select">
          <option value="">Nara</option>
          <option value="">Yen</option>
          <option value="">Dollar</option>
        </select>
        <div class="cart">
          <fa-icon [icon]="cart" (click)="modalService.showCartModal = !modalService.showCartModal"></fa-icon>
          <span *ngIf="(cartCount$ | async)?.length !== 0"><p>{{ (cartCount$ | async)?.length }}</p></span>
        </div>
      </div>
    </div>
  </nav>
  <app-cart-modal *ngIf="modalService.showCartModal"></app-cart-modal>
  <router-outlet></router-outlet>
</main>
