// Defining Global style Variable
// Design systems are also extablished and defined here for ease of responsive styling


// Font Family
$ff-primary: 'Raleway', sans-serif;
$ff-secondary: 'Source Sans Pro', sans-serif;
$ff-label: 'Roboto Condensed', sans-serif;


$primary-colour: #5ECE7B;

$select-focus: #EEEEEE;
